* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
     background-image: radial-gradient(circle at 45.42% 75.96%, #acc6f0 0, #b4c4ef 3.57%, #bcc2ee 7.14%, #c3c0ec 10.71%, #cbbee9 14.29%, #d2bce6 17.86%, #d8bae1 21.43%, #deb8dd 25%, #e4b7d8 28.57%, #e8b6d2 32.14%, #ecb5cc 35.71%, #efb5c7 39.29%, #f1b4c1 42.86%, #f2b5bb 46.43%, #f2b5b5 50%, #f1b6b0 53.57%, #f0b7aa 57.14%, #eeb8a6 60.71%, #ebbaa2 64.29%, #e7bb9e 67.86%, #e3bd9c 71.43%, #debf9a 75%, #d9c198 78.57%, #d4c398 82.14%, #cec599 85.71%, #c7c79a 89.29%, #c1c99c 92.86%, #baca9f 96.43%, #b3cca2 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*Start Header*/
h2 {
    background-color: darkblue;
    color: #f2f2f2;
}

header {
  
    h1 {
        text-align: center;
        margin-left: 300px;
        margin-top: 50px;
        justify-content: end;
        font-size: 30px;
        color: darkblue;
        background-color: #c3c0ec;
    }
    
}

h3 {
    font-size: 20px;
    background-attachment: fixed;
}

nav {
    padding: 10px;
    background-repeat: no-repeat;
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: block;
            list-style-type: none;
            padding-right: 30px;
            padding-left: 30px;
           
            
            a {
                text-decoration: none;
                color: black;
                font-size: 20px;
                font-family: 'Roboto', sans-serif;
                background-color: white;
            }
        }
    }
}

.logo {
    max-width: 150px;
    max-height: 75px;
}

li:hover {
    color: blue;
}
a {
    transition: color 0.8s linear 0.2s;
}

.foto-negra-1 {
    justify-content: center;
    text-align: center;
}

h3 {
    font-size: 20px;
    background-attachment: fixed;
}
.mikao-osui {
    text-align: center;
}
